.login-page-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient( circle, #ddd, #aaa, #333 );
    /*background-image: url('/img/login-bg-logo.jpeg');  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    z-index: 1;
}

.app-name {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4rem;
    text-decoration: underline;
}

.login-page-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #210b35;
    opacity: 0.4;
}

.login-page-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.login-form-wrapper {
    position: fixed;
    bottom: 27vh;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    background: #333333;
    padding: 1px;
    border-radius: 10px 10px 0 0;
}

.login-form-errors {
    color: red;
    padding: 2px;
    background: #ecc7c7;
}

.login-form-wrapper > .title {
    width: 100%;
    text-align: center;
    color: #999;
    margin: 0;
    font-size: 1.7rem;
    padding: 5px;
}

.login-form-fields {
    background: #eee;
    padding: 5px 0;
}

.login-form-fields > label {
    display: block;
    text-align: center;
}

.login-form-fields > input {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 80%;
}

.login-form-wrapper > button {
    width: 100%; 
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: #36b305;
    background: #258001;
    border: none;
}

.login-form-wrapper > button:hover {
    color: #258001;
    background: #36b305;
} 