* {
  padding: 0;
  margin: 0;
}

body {
  background: #eee;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.center-aligned {
  text-align: center;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

.transition-all-short {
  transition: all 200ms ease-in-out;
}

.pointer {
  cursor: pointer;
}

.hovered-transparency:hover {
  opacity: 0.5 !important;
}

.circle {
  border-radius: 100%;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}